.head {
  color: #1c4980;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 44px;
  position: relative;
}

.head span {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}

.p-text {
  color: #1c4980;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  margin: 0;
}

.grid-item {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.grid-item:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
}

.three-box {
  /* width: 300px; */
  height: 300px;
  border: 2px solid gold;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.three-box:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
}

.explore {
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  color: #1c4980;
  margin-bottom: 20px;
}

.explore-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #1c4980;
  display: block;
  /* margin-top: 5px; */
}

.four-box {
  /* width: 250px; */
  /* height: 150px; */
  border: 5px solid gold;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  margin: auto;
  margin-top: 2rem;
  gap: 2rem;
}

.four-box:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
}

.line {
  margin-top: 4rem;
}

.head-feature {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  color: #1c4980;
  font-family: "Inter", sans-serif !important;
}

.text-feature {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  display: block;
  margin-top: 8px;
}

.mobile-nav {
  position: fixed;
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  margin: auto;
  border: 3px solid red;
}
