.footer-left {
  background: url(https://d8it4huxumps7.cloudfront.net/uploads/images/63ee01ad60d6b_footer_bg.png?d=528x871);
}

.footer-fav {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* margin-bottom: 20px; */
  padding-bottom: 16px;
  border-bottom: 1px dashed #1c4980;
}

.heart-icon {
  color: #e9407a;
  font-size: 20px;
  margin: 0 4px;
}

.socail-icon {
  width: 29px !important;
  height: 45%;
}

.footer-text{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
}

.footer-text-p{
    border-radius: 8px 10px 10px 8px;
    background: #DADCE0;
    color: #174073;
    display: inline-flex;
    font-weight: 500;
    font-size: 13px;
    align-items: center;
    height: 40px;
    width: 100%;
    padding-left: 10px;
    position: relative;
    margin-top: 1rem;
    padding-bottom: 16px;
}

